{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :git/sha "5cc6e89c24662d60ca215c645388f79154adfb00"
                            #_#_:local/root "../open-source"}}}
